<%= image_tag 'student-progress1.png', class:'mt-4 mx-auto d-block' %> 
<h1 class='mt-3 text-center'>Help us to get to know you better</h1>
<%= form_for @student do |f| %>
  <%= render 'form', f: f %>
<% end %>
