<%= image_tag 'student-progress4.png', class:'mt-4 mx-auto d-block' %> 
<h1 class='mb-3 text-center'>
  <span>Your submission has been recorded</span>
</h1>

<h3 class="mb-3 text-center">
  <span>Thank you for registering for Covid19 Tutoring Support.</span>
  <span>Give us some time to match you with a tutor. He/she will contact you and you can begin your lessons.</span>
  <span>Lessons will run on a weekly basis of 1-2 hours, depending on the arrangement with your tutor.</span>
  <span>Note: We will be collecting feedback after every lesson. You are required to fill in a form on how the lesson went, alongside other things. More details will be sent via email.</span>
</h3>
