<div id='welcome-page'>
    <%= link_to 'Back', root_path, class: 'btn back-button' %>
    <div class='mt-4'>
        <h2 class='font-weight-bold mb-4'>Welcome Volunteer</h2>
    </div>
    <div class='text-center mb-4'>
        <p class='font-weight-normal'>Thank you for volunteering to be a tutor. Your jobscope is to provide students with academic help through online tutoring.</p>
        <p class='font-weight-normal'>It is not meant to replace the HBL that MOE has initiated. Students are reminded that teachers should be their main source of help and are advised to complete their HBL diligently.</p>
        <p class='font-weight-normal'>It is primarily for students who do not have access to private/home tuition, or online tutoring services during this period of time. Please help us spread the word if you can. </p>
        <p class='font-weight-normal'>More details will be sent to you after registration. Thank you so much for volunteering your time and effort again! :)</p>
    </div>
    <div class="row justify-content-center align-items-center">
    <!-- <%= link_to 'I want to volunteer', tutor_extension_notice_path, class: 'btn next-button' %> -->
</div>
</div>
