<h3>Hello Tutors!</h3>
<p>The CTSS Team has made the decision to extend the programme until the <b><u>end of November</u></b> (which is the end of the school year). We understand that the entire school year has been affected by Covid-19, and we would love to continue extending academic support to those who need it.</p>
<p>We hope to continue working with you but we understand that there may be changes to your commitment or interest, whether you are a student or a volunteer.</p>
<p>Hence, it is compulsory to fill in the form here: <%= link_to 'https://forms.gle/txpFRc3sJesUvr2x7', 'https://forms.gle/txpFRc3sJesUvr2x7' %> to let us know about any changes.</p>
<p>Thank you.</p>
