<h3>Hello Students!</h3>
<p>The CTSS Team has made the decision to extend the programme until the <u><strong>end of November</strong></u> (which is the end of the school year). We understand that the entire school year has been affected by Covid-19, and we would love to continue extending academic support to those who need it.</p>
<p>We hope to continue working with you but we understand that there may be changes to your commitment or interest, whether you are a student or a volunteer.</p>
<p>Hence, it is compulsory to fill in the form here: <%= link_to 'https://forms.gle/txpFRc3sJesUvr2x7', 'https://forms.gle/txpFRc3sJesUvr2x7' %> to let us know about any changes. The deadline is <u><strong>22 May, 2359</strong></u>.</p>
<p>Here are some other updates for your information.</p>
<ul>
  <li>As of now, we have 1059 volunteers matched with 633 students. Another 722 volunteers are unmatched thus far. We expect changes after 22 May 2359 in the event of Matched Tutors being unable to commit or being able to commit less, as well as students not requiring the help of our programme anymore as school reopens.</li>
  <li>Any re-matching for students whose tutors are unable to commit will be done by 25 May 2020.</li>
  <li>We are still constantly reaching out to various organisations to spread the word to students. Do help us continue to spread the word to any students you know!</li>
</ul>

<p>Thank you so much!</p>
<p>Take care and stay safe at home.</p>
