<p>Hello!</p>
<p>You are receiving this email because you have successfully registered as a student with CTSS. We are excited to have you on board with us!</p>

<p>The CTSS team has a few things to tell you:</p>
<ol>
  <li>Click <%=link_to 'here', 'https://docs.google.com/document/d/1EzaBGuH29nWzlwnGPwBx9W1EMmF-XXcjCJFPk6Zr2vw/edit?usp=sharing' %> for the student info sheet. It’s important to read every bit of it as it will tell you everything you need to know. A crucial point is the <%= link_to 'post-lesson feedback form', "tinyurl.com/CTSSstudentFF" %> and how to use Bramble!</li>
  <li>Follow our Instagram at @ctss.sg! We will post updates there.</li>
  <li>We will send out all student-volunteer matches as soon as possible. Do keep a lookout for it!</li>
  <li>If you have a question, don’t hesitate to drop us an email at enquiries.ctss@gmail.com or visit the FAQs page <%= link_to 'here', "https://docs.google.com/document/d/1mj-3Fz8WW5mO_aapTYkUMoRnHnlYfqxSKgqjWNJI2yA/edit" %>.</li>
</ol>
<p>We hope that all of you and your family are staying safe!</p>
