<p>Hello!</p>
<p>You are receiving this email because you have successfully registered as a volunteer tutor with CTSS. We are excited to have you on board with us!</p>

<p>The CTSS team has a few things to tell you:</p>
<ol>
  <li>
    <h3> Read Volunteer Guidebook </h3>
    <span>
      We have created a <%= link_to 'Google Drive', "https://drive.google.com/drive/folders/1zB5qNEfixx5Tqs2K8STl-Eqetpn34Kcu?usp=sharing" %> for Volunteers which includes a Volunteer Guidebook. Alternatively, you can click <%= link_to 'here', "https://docs.google.com/document/d/1YZ01m4_PsQyBOxOOLQ_0trZ23eaPpWjJmRPpfBvkH7c/edit#" %> for the volunteer guidebook. It’s important to read every bit of it as it will tell you everything you need to know. A crucial point is the post-lesson feedback form and how to use Bramble!
    </span>
  </li>
  <li>
    <h3>Follow our Instagram at @ctss.sg!</h3>
    <span>We will post updates there.</span>
  </li>
  <li>
    <h3>Updates on volunteers and students</h3>
    <span>The current volunteer numbers are increasing exponentially. Around more than 1800 volunteers have signed up to tutor a student, but we only have about 480 registered students so far! (25 April) Although the number of students seems small, we are in the midst of communicating with various organisations and we have upcoming features on media channels. Hence, we expect more students to join our programme. Matching of both tutors and tutees also depends on what the tutor offers, and what the tutee needs help in. Hence, we would like to ask for your patience while we match you with a student, and please accept our apologies of not being able to confirm when you are able to start tutoring! While waiting, do help us share our programme with more students if you can :-)</span>
  </li>
  <li>
    <h3>Read our FAQ!</h3>
    <span>If you have a question, don’t hesitate to drop us an email at enquiries.ctss@gmail.com or visit the FAQs page <%= link_to 'here', "https://docs.google.com/document/d/1mj-3Fz8WW5mO_aapTYkUMoRnHnlYfqxSKgqjWNJI2yA/edit" %>.</span>
  </li>
</ol>
<p>Everyone in the CTSS Team is very heartened to receive such an amazing response from Singaporeans who would like to give back to the community during this difficult period. We hope that all of you and your family are staying safe!</p>
