
  <div><h1 class="text-center text-uppercase">
    <span>welcome to </span>
    <span>covid-19</span>
    <span>tutoring support</span>
    <span>for students</span>
    <span>registration form</span>
  </h1></div>
  <div><h2 class="text-center text-capitalize">
    <span>get started today</span>
    <span>sign up as a</span>
  </h2></div>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <%= link_to 'Student', student_welcome_path(:type => student), class: 'btn primary-button' %>
      <%= link_to 'Volunteer', tutor_welcome_path, class: 'btn primary-button' %>
      <%= link_to 'Student feedback form', new_feedback_path, class: 'btn primary-button' %>
      <%= link_to 'Tutor feedback form', new_feedback_path, class: 'btn primary-button' %>
    </div>
  </div>
