<div>
    <div class="progress mt-3">
    <div class="progress-bar" role="progressbar" style="width:100%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div> 
    <div class='mt-4'>
        <h2 class='font-weight-bold mb-4 text-center'><b>Your submission has been recorded.</b></h2>
    </div>
    <div class='text-center mb-4'>
        <p>Thank you for registering for Covid19 Tutoring Support.</p>

        <p>Please check your email for an introductory guide. Do check your 
        inbox and junk mail frequently!</p>

        <p>Give us some time to match you with a tutor. He/she will 
        contact you and you can begin your lessons.</p>

        <p>Lessons will run on a weekly basis of 1-2 hours, depending 
        on the arrangement with your tutor.</p>
        
        <p>Note: We will be collecting feedback after every lesson. 
        You are required to fill in a form on how the lesson went, 
        alongside other things. More details will be sent via email.</p>
    </div>
</div>
