<div>
    <div class='mt-4'>
        <h2 class='font-weight-bold mb-4 text-center text-danger'><b>Notice of Extension</b></h2>
    </div>
    <div class='text-center mb-4'>
        <p>CTSS was originally meant for the period of Home-Based Learning. 
        However, we realise that our students still need our help as they may still be facing some 
        academic doubts and/or even be sitting for national examinations. Therefore, we would like 
        to extend CTSS until the <span class="font-weight-bold">end of November 2020</span>.</p>
        <p>Do volunteer with us only if you are able to commit until end Nov 2020.</p>
    </div>
    <div class="row justify-content-center align-items-center">
        <%= link_to 'Back', tutor_welcome_path, class: 'btn back-button' %>
        <!-- <%= link_to 'Next', new_tutor_step_build_path(tutor_step_id: 'tutors'), class: 'btn next-button' %> -->
    </div>
</div>
