<div>
    <%= image_tag '', class:'mt-4 mx-auto d-block' %> 
    <div class='mt-4'>
        <h2 class='font-weight-bold mb-4 text-center'><b>Your submission has been recorded.</b></h2>
    </div>
    <div class='text-center mb-4'>
        <p>Give us some time to match you with a student. 
        You will receive an introductory email from us after 
        confirming your submission. It will include details of 
        everything you should know of. </p>

        <p>You will receive another email from us with details 
        of your student once you have been matched. Do check your 
        inbox and junk mail frequently!</p>

        <p>Thank You!</p>
    </div>
</div>