//Colour Variables
$main-background: #1B597C;
$text: #000;
$secondary-button-background: #FCC857;
$secondary-button-border: #333;
$secondary-button-text: #000;
$primary-button-background: #BDD9BF;
$primary-button-border: #333;
$primary-button-text: #000;


body{
  background-image: url('/assets/colorful_patches.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  color: $text;
  font-family: 'Montserrat', sans-serif;
}

.next-button, .submit-button{
  background: $secondary-button-background;
  border: 1px solid $secondary-button-border;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
  color: $secondary-button-text;
  margin: 22px;
}

.back-button{
  background: $main-background;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
  color: $text;
  margin: 22px;
}

#welcome-page .back-button, #welcome-page .next-button{
  margin: 0;
}

.primary-button{
  background-color: $primary-button-background;
  border: 1px solid $primary-button-border;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 22px;
  color: $primary-button-text;
  font-size: 20px;
  height: 44px;
  width: 120px;
}

h1 span::before {
  content: "\A";
  white-space: pre;
}

h2 span::before {
  content: "\A";
  white-space: pre;
}

h3 span::before {
  content: "\A\A";
  white-space: pre;
}

label{
  margin: 0;
}

input[type=radio]{
  transform:scale(1.5);
}

div.form-group{
  > span{
    font-size: 0.8em;
    display: block;
  }
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

@media (max-width: 575.98px) {
  h1{
      font-size: 1.7rem;
  }
  h2{
      font-size: 1.3rem;
  }
  h3{
    font-size: 1rem;
  }
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {
  
}