body{
    background: #1B597C;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.next-button, .submit-button{
    background: #FFC857;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin: 22px;
}

.back-button{
    background: #1B597C;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin: 22px;
}

#welcome-page .back-button, #welcome-page .next-button{
    margin: 0;
}

.primary-button{
    background-color: #BDD9BF;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 22px;
    color: #000;
    font-size: 20px;
    height: 44px;
    width: 120px;
}

h1 span::before {
    content: "\A";
    white-space: pre;
}

h2 span::before {
    content: "\A";
    white-space: pre;
}

label{
    margin: 0;
}

input[type=radio]{
    transform:scale(1.5);
}

div.form-group > span{
    font-size: 0.8em;
    display: block;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

@media (max-width: 575.98px) {
    h1{
        font-size: 1.7rem;
    }
    h2{
        font-size: 1.3rem;
    }
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {
    
}